[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "shinyOAuth"]
	path = shinyOAuth
	url = https://github.com/lukakoning/shinyoauth
